


$attachment-file: "attachment-file";
$profile-meta: "profile-meta";


$infobar: "infobar";

.#{$infobar}{
    background-color: theme('color.white'); position: relative;  border-radius: theme('radius.0'); box-shadow: theme('boxShadow.all'); padding: theme('padding-6'); margin-bottom: theme('margin-4'); 
    &__media{
        &-icon{width: 3.5rem; height: 3.5rem; border-radius: theme('radius.round');display: flex; align-items: center; justify-content: center;overflow: hidden; position: relative;
            &:before{position: absolute; left: 0; right: 0; top: 0; bottom: 0; content: "";opacity: 0.1;}
        }
        &-icon--alert{color:theme('color.yellow'); font-size: theme('font.size.xxxl'); font-weight: 700;
            &:before{ background-color: theme('color.yellow');}
        }
        &-icon--vcamera{color:theme('color.secondary'); overflow: visible; background-color: #fff;
            
            &:after{
                content: "";
                position: absolute;
                height: 19px;
                width: 19px;
                background: rgba(255, 255, 255, 1);
                border-radius: 50%;
                #{theme('direction.left','value')}: 15px;
                animation: live 1s ease-in-out infinite;
                pointer-events: none;
            }
            .icon--vcamera{
                position: relative;
                z-index: 1;
            }

            @keyframes live {
                0% {
                transform: scale(2,2);
                }
                100% {
                transform: scale(3.5,3.5);
                background: rgba(255, 3, 0, 0);
            }
        }
        }
        &-icon--tick{color:theme('color.primary');
            &:before{position: absolute; left: 0; right: 0; top: 0; bottom: 0; content: "";opacity: 0.1;background-color: currentColor;}
        }
    }
    @media(max-width:theme('breakpoints.sm','value')){
        & {padding:theme('padding-4');
            &__content{padding-bottom: 15px;}
            & .profile-progress{margin-top: 20px; border-top: 1px solid theme('color.gray.200');padding-top: theme('padding.4');}
        }
    }

    @media(max-width:theme('breakpoints.lg','value')){
        &{padding: theme('padding-4'); 
      
        }
    }

}

$infobar__media-icon--tick: "infobar__media-icon--tick";

.#{$infobar__media-icon--tick} {
    &:after{
        content: "";
        position: absolute;
        transform: rotate(45deg);
        height: 17px;
        width: 9px;
        border-bottom: 2px solid currentColor;
        border-right: 2px solid currentColor;
        #{theme('direction.left','value')}: 20px;
        top: 13px;
    }
}

$content-panel: "content-panel";

.#{$content-panel}{position: relative;
    &__head{padding: theme('padding-6'); position: relative;}
    table th{background-color:rgba(0, 0, 0, 0.02) ;}
}

$action-bar: "action-bar";
$social-button: "social-button";
.#{$action-bar}{
    position: relative;padding: theme('padding.6'); border-bottom: 1px solid theme('color.gray.200');border-top: 1px solid theme('color.gray.200'); background-color:rgba(0, 0, 0, 0.02);
    @media(max-width:theme('breakpoints.sm','value')){
        &{
            &__content{padding-bottom: theme('padding.6');}
            .#{$social-button}{width: 100%;justify-content: space-between; }
        }
    }
    &.selection-disabled{opacity: 1;}
    
}


$g-circle: "g-circle";

.#{$g-circle}{position: relative; width:4rem; height:4rem; background-color: theme('color.white'); box-shadow:0 1px 2px 1px #d4d4d4; border-radius: theme('radius.round'); display: flex; align-items: center; justify-content: center;
    
}

$custom-cols: "custom-cols";

.#{$custom-cols}{
    > ul{display: flex;align-items: flex-start; margin: 0 -10px;
        > li{width: 100%;padding: 0 10px;}
    }

    &--onethird{
        ul{
            & li:first-child{max-width: 20%;}
        }
    }  
    @media(max-width:theme('breakpoints.md','value')){
    &--onethird{
            ul{
                & li:first-child{max-width:35%;}
            }
        }  
    }
}


$colum-layout: "colum-layout";

.#{$colum-layout}{
    @media(min-width:theme('breakpoints.md','value')){
        &{display:grid; grid-gap:20px; grid-template-columns: 49% 49%;}
    }
    @media(max-width:theme('breakpoints.md','value')){
        &__cell{margin-bottom: theme('margin.6');}
    }
    

    


    &__cell{border: 1px solid theme('color.gray.200'); }
    &__head{padding: theme('padding.6') theme('padding.6'); border-bottom: 1px solid theme('color.gray.200');}
    &__scroll{max-height:32.2rem;}
}


$selection: "selection";

.#{$selection}{position: relative;border-bottom: 1px solid theme('color.gray.200'); 
   &__trigger{display: flex;flex-wrap: wrap; position: relative; padding: theme('padding.4') theme('padding.6'); min-height: 3.5rem;cursor: pointer;background: #fff;z-index: 1;

     &-input, input{position: absolute; opacity: 0;}
     &-action{display: flex;align-items: center; justify-content: space-between; width: 100%;color: theme('color.gray.800');}
     &-icon{position: relative;width: 16px; height: 16px;display: block; border-radius: theme('radius.round'); background-color: currentColor; opacity: 0.3;
        &:before{width:9px; height: 5px; position: absolute;top:48%; left:38%; border-left:2px solid theme('color.white');border-bottom:2px solid theme('color.white'); content:"";transform: rotate(-45deg) translate(0,-78%);}
     }

    &-input:checked ~ &-action{color: theme('color.secondary'); font-weight: 600;}
    &-input:checked ~ &-action &-icon{opacity: 1;}

    }

    &.is-selected &__trigger{
        &-action{color: theme('color.secondary'); font-weight: 600;}
        &-icon{opacity: 1;}
    }
}

.selection--select{ 
    .selection__trigger {
       pointer-events: none;
    }
}

$submit-row: "submit-row";
.#{$submit-row}{
    justify-content: flex-end;

    @media(max-width:theme('breakpoints.sm','value')){
        &{
            .field_cover{display: flex; justify-content: space-between;
                & input{width:auto;}
            }
        }
    }
}


$avtar: "avtar";
$profile-media: "profile-media";

.#{$profile-media}{
    & .#{$avtar}{ border: 1px solid theme('color.gray.200');
       
        @media(max-width:theme('breakpoints.sm','value')){
        &--xlarge{width: 100%; height: 100%;}
            
        }
    }
    @media(max-width:theme('breakpoints.sm','value')){
    .buttons-group{width: 100%;display: flex;justify-content: space-between;
        .btn.btn--wide.btn.btn--small{width: 100%;min-width:1%;margin: 0;}
        }
    }
}


$form: "form";
.#{$form}{
    &__actions{ padding:theme('padding.6');
        > div{flex-wrap: nowrap;
            > div{display: inline-flex;
                &:last-child{
                    input{margin-#{theme('direction.left','value')}: 5px!important;}
                }
            }
        }
    }
    &__body{
        padding:0 theme('padding.6');
        @media(min-width:theme('breakpoints.md','value')){
            &{min-height: 30rem;}
        }
    }
}



$account-deactivation-info: "account-deactivation-info";
.#{$account-deactivation-info}{
    @media(max-width:theme('breakpoints.sm','value')){
        .btns-group{
            > .btn{display: block;text-align: center;margin: 5px 0;;}
        }
    }
}


$selection-tabs: "selection-tabs";

.#{$selection-tabs}{display:flex; align-items: center; justify-content: center; flex-wrap: wrap;overflow: auto;

    @media(max-width:theme('breakpoints.md','value')){
        &{justify-content: flex-start;flex-wrap: nowrap;}
    }
    
    &__label{ position: relative; cursor: pointer;}
    &__input{position: absolute;opacity: 0;}
    &__title{background-color: #fff; position: relative; display: flex; align-items: center; justify-content: center; flex-direction: column;padding: theme('padding.4');
        border:1px solid theme('color.gray.200');font-size:theme('font.size.lg'); font-weight: theme('font.weight.medium'); min-width:5rem; color: theme('color.gray.900');
        & span{font-size: 50%; text-transform: uppercase; font-weight:theme('font.weight.regular');}
    }
    &__input:checked + &__title{color: theme('color.secondary'); border-color: theme('color.secondary');}
}



$price-box: "price-box";

.#{$price-box}{border:1px solid theme('color.gray.200'); position: relative; margin-top: theme('margin.6');
    &__head{padding: theme('padding.4') theme('padding.6');border-bottom:1px solid theme('color.gray.200');padding-#{theme('direction.right','value')}: theme('padding.18')}
    
    &__body{padding: theme('padding.6')}
  
    & .field_label{margin-bottom: 0.5rem;}
}

  
$actions-group: "actions-group";

.#{$actions-group}{
    &{display: inline-flex; align-items: center; flex-wrap: wrap;}
    @media(max-width:theme('breakpoints.xl','value')){
        &{white-space: nowrap;}
    }

}



$form-actions: "form-actions";
.#{$form-actions}{ padding:theme('padding.6');
}


$wallet-box: "wallet-box";
.#{$wallet-box}{
    @media(max-width:theme('breakpoints.lg','value')){
        & {
            .buttons-group{ margin-top: theme('margin.4');
                & > a{border-color: theme('color.gray.300'); flex: 1; font-size: theme('font.size.sm');}
            }
        }
    }
    @media(max-width:theme('breakpoints.sm','value')){
        & {padding: theme('padding.5')!important;
            .buttons-group{flex-wrap: wrap;
                & > a{border-color: theme('color.gray.300'); flex: auto; font-size: theme('font.size.sm'); width: 100%; margin: 5px 0;display: flex;}
            }
        }
    }
}


$icon: "icon";



$flashcard: "flashcard";
.#{$flashcard}{ padding:theme('padding.6');
    &__media{width: 10rem; height: 10rem; border-radius: theme('radius.round'); display: flex; align-items: center; justify-content: center; margin: 0 auto 20px; background-color:rgba(0,0,0,0.04);}

    @media(min-width:theme('breakpoints.xl','value')){
        &{
            .buttons-group{margin-top: theme('margin.6');
                & a{width: 100%; margin-top: theme('margin.3');}
            }
        }
    }

    
    @media(max-width:theme('breakpoints.xl','value')){
        &{display: flex; align-items: center;
            &__media{margin: 0;width: 6rem; height: 6rem; margin-#{theme('direction.right','value')}: theme('margin.6');
            .#{$icon}{
                &--xlarge{width: 2.6rem; height: 2.6rem;}
            }
        }
            .buttons-group{display: flex; align-items: center;
                & > *{margin-#{theme('direction.right','value')}: 5px;}
            }
            &__content{display: flex; align-items: center; justify-content: space-between;flex: 1;}
        }
    }

    @media(max-width:theme('breakpoints.sm','value')){
        &{display: block;
            &__media{margin: 0 auto theme('margin.4');width: 8rem; height: 8rem;
            
        }
        
            &__content{display: block;flex: unset; text-align: center;
               .buttons-group{display: flex; margin-top: theme('margin.4');
                    > a{flex: 1;}
                }
            }
        }
    }


}

$sale-form: "sale-form";

.#{&sale-form} {
    margin-bottom: theme('padding.8');
    .sale__card{
        padding: theme('padding.14') theme('padding.8');
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: theme('radius.1');
    }
    .sale__card--left{
        background: #F6B6500F;
    }
    .sale__card--right{
        background: #48C5D20F;
    }
}

$stat__amount: "stat__amount";

.#{$stat__amount} {
    span{
        font-size: theme('font.size.small');
        text-transform: uppercase;
        line-height: 0.72rem;
    }
    h5{
        font-size: theme('font.size.h4');
        color: theme('color.gray.000');
        margin-top: 3px;
    }
}

$sale-stat__count: "sale-stat__count";

.#{$sale-stat__count} {
    span{
        font-size: theme('font.size.small');
        text-transform: uppercase;
        line-height: 0.72rem;
        font-weight: 600;
    }
    h5{
        font-size: theme('font.size.h4');
        color: theme('color.gray.000');
        margin-top: 3px;
    }
}



.infobar--primary {
    background: theme('color.primary');
    color: theme('color.primary-inverse');
    overflow: hidden;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        #{theme('direction.left','value')}: 0;
        background: repeating-linear-gradient(135deg, rgba(255,255,255,0.15), rgba(255,255,255,0.15) 1px, theme('color.primary') 1px, theme('color.primary') 6px);
        opacity: 0.5;
    }
    .timer{
        color: inherit;
    }

    p, span{
        color: theme('color.primary-inverse');
    }
}

.select__dropdown {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border: none;
    min-height: 3.5rem;
    line-height: 20px;
    background: none;
    padding: theme('padding.4') theme('padding.6');
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.flag-icon--s {
    width: 1.5rem;
    height: 1.5rem;
}
.flag-icon {
    display: inline-block;
    border-radius: theme('radius.round');
    overflow: hidden;
    vertical-align: text-top;
    margin-#{theme('direction.right','value')}: theme('margin.2');
}


.common-slot-price{
    input[type="text"]{
        width: 90px;
        height: 32px;
        text-align: center;
        color: #333;
        border-radius: 0;
    }
    .field_label{
        margin-bottom: 0;
        margin-#{theme('direction.right','value')}: 10px;
        font-weight: normal;
        color: #999;
    }
}

.price-box__head{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width:theme('breakpoints.sm','value')){
        & {
            flex-direction: column;
            align-items: flex-start;

            .common-slot-price {
                margin-top: 10px;
            }
        }
    }

    .arrow-toggle{
        position: absolute;
        #{theme('direction.right','value')}: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 40px;
        height: 40px;
        cursor: pointer;
        &::before{
            content: "";
            border-#{theme('direction.left','value')}: 6px solid transparent;
            border-#{theme('direction.right','value')}: 6px solid transparent;
            border-top: 7px solid theme('color.gray.600');
            #{theme('direction.right','value')}: 22px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
        }
    }
}

 
$slab-wrapper: "slab-wrapper";    

.#{$slab-wrapper} {
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 0;
    }

    .slab__head{
        margin-bottom: 10px;
        h6{
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.slab-wrapper{
    .field_label{
        width: 70%;
        line-height: 28px;
    }
    input[type="text"]{
        float: right;
        width: calc(100% - 70%);
        &:focus{
            box-shadow: none;
        }
    }
}
.field-wrapper{
    padding: 0 6px;
    border: 1px solid theme('color.gray.300');
    margin-bottom: 10px;

    label{
        margin-bottom: 0 !important;
        color: #999;
    }
    input{
        border: none;
        height: 2rem;
        padding: 0 theme('padding.1');
        text-align: #{theme('direction.right','value')};
        color: theme('color.black');
    }
}


$pricing-wrapper: 'pricing-wrapper';

.#{$pricing-wrapper} {

    @media(min-width:theme('breakpoints.xxxl','value')){
        max-width: 800px;
        margin: 0 auto;
    }
}

.is--active{
    .price-box__head {
        background-color: transparent;
    }
}

.price-box__head {
    background-color: #fafafa;
    span{
        font-size: 16px;
        font-weight: 600;
    }
}



.iti--separate-dial-code .iti__selected-dial-code {
    margin-#{theme('direction.left','value')}: 6px; }

    .iti__flag-box {
    margin-#{theme('direction.right','value')}: 6px; }

iframe#st_gdpr_iframe{
    display: none;
}




.small-field{max-width: 100px;position: relative; text-align: center; margin: 0 auto;
    & *{ text-align: center;}
}




$table-controls: 'table-controls';
.#{$table-controls} {
    &{overflow: auto; width: 100%; display: block;  text-align: center;
        &__colum{  position: relative;
           &:before{position: absolute;inset: 0; opacity:0; content: ""; background-color: theme('color.primary');}
           &.color2{color:  theme('color.primary');
            &:before{opacity: 0.05;}
           }
           & .position-relative{z-index: 1; line-height: 1.3; white-space: nowrap;
                & .input-helper{background-color: #fff; border-color: currentColor!important;
                    &:before,&:after{background: currentColor;}
                }
                & .checkbox{color: theme('color.primary');}
            }
            &.is-selected{color:  theme('color.primary');
                &:before{opacity: 0.05;}
            }
        }
        
    }
}

.position-relative{position: relative;}


$table-sticky-scroll: 'table-sticky-scroll';

.#{$table-sticky-scroll} {
    &{
        th{padding: theme('padding.4') theme('padding.4');font-weight: theme('font.weight.medium');background-color: theme('color.white')!important; 
            box-shadow:inset 0 1px 0 0 rgba(0, 0, 0, 0.1);}
        td{padding: theme('padding.1')  theme('padding.4'); border: none;background-color: theme('color.white');}
        & .first-child{ position: sticky; left: 0; z-index: 2; top: 0; width: 100px; min-width: 100px; text-align: #{theme('direction.left','value')};}
        tbody tr:first-child td{padding-top: theme('padding.8'); box-shadow:inset 0 1px 0 0 rgba(0, 0, 0, 0.1);}
        tbody tr:last-child td{padding-bottom: theme('padding.8');box-shadow:inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);}

        @media(min-width:theme('breakpoints.sm','value')){
            &{
                th{padding: theme('padding.8') theme('padding.6');}
                td{padding: theme('padding.2')  theme('padding.6'); }
                & .first-child{ width: 180px; min-width: 180px;}
            }
        }


    }
}


$lang-selection: 'lang-selection';

.#{$lang-selection} {position: relative; 
    &{
        
        @media(max-width:theme('breakpoints.lg','value')){
            &{ margin-top: theme('margin.6');}
        }
        @media(max-width:theme('breakpoints.sm','value')){
            &{padding: theme('padding.4') 0;}
        }


        @media(min-width:theme('breakpoints.sm','value')){
           & {display: flex; align-items: center;}
        }
        &__label{padding: theme('padding.2') theme('padding.3'); font-size: theme('font.size.small'); font-weight: theme('font.weight.medium');
            @media(max-width:theme('breakpoints.lg','value')){
                &{padding-#{theme('direction.left','value')}: 0;}
            }
        }
    }
}


$price-selection: 'price-selection';

.#{$price-selection} {position: relative; 
    &{ display: inline-flex; align-items: center; margin-#{theme('direction.left','value')}: auto; flex-wrap: wrap;
        
        @media(max-width:theme('breakpoints.sm','value')){
            &{width: 100%;}
        }
    
        @media(max-width:theme('breakpoints.sm','value')){
            &{background-color: rgba(0, 0, 0, 0.04); padding: theme('padding.4'); margin-bottom: theme('margin.6');}
        }

        &__label{padding: theme('padding.2') theme('padding.3'); font-size: theme('font.size.small'); font-weight: theme('font.weight.medium');
        
            @media(max-width:theme('breakpoints.sm','value')){
                &{flex: 0 0 100%;}
            }
        }
        &__item{padding: theme('padding.2') theme('padding.3');
            @media(max-width:theme('breakpoints.sm','value')){
                &{width: 50%;
                    *{width: 100%; max-width: 100%;}
                }
            }
        }
    }
}


$pricing-panel: 'pricing-panel';

.#{$pricing-panel} {position: relative;

    @media(min-width:theme('breakpoints.sm','value')){
        &{min-height: 40rem;
            &__action{ padding: theme('padding.3') 0;}
        }
    }

   
}


.selection .select2-selection.select2-selection--single{border-radius: theme('radius.1')!important;}
.user_url_string{word-break: break-all;}





$page-back: "page-back";

.#{$page-back}{
    display: inline-flex; align-items: center; margin-bottom: theme('margin.10');
}


$page-steps: "page-steps";

.#{$page-steps}{ 
   &{background-color: theme('color.white'); position: relative; width: 100%;border-radius: theme('radius.0'); box-shadow: theme('boxShadow.all'); padding: theme('padding.2');
    
    
        ul{position: relative; 
            @media(min-width:theme('breakpoints.lg','value')){
                
                &:before{position: absolute; #{theme('direction.left','value')}:18px; top: theme('padding.4'); bottom: theme('padding.4'); content: ""; background-color: theme('color.gray.300'); width: 1px; pointer-events: none;}
            }


           

            & li{ color: theme('color.gray.700');
                @media(min-width:theme('breakpoints.lg','value')){
                    &{margin: theme('margin.1') 0;}
                }
          

            &:last-child{margin-bottom: 0;}
                    & > a{display: block; padding: theme('padding.4')  theme('padding.10');position: relative; min-height: 18px; 

                        @media(min-width:theme('breakpoints.lg','value')){
                            &{padding-#{theme('direction.left','value')}: theme('padding.12');padding-#{theme('direction.right','value')}: theme('padding.10'); }
                        }  

                        @media(max-width:theme('breakpoints.lg','value')){
                            &{padding-#{theme('direction.right','value')}: theme('padding.8'); }
                        }  

                        &:before{position: absolute; #{theme('direction.left','value')}:0.8rem; top:theme('padding.4'); content: ""; width: 16px; height: 16px; border: 1px solid currentColor; pointer-events: none; border-radius: theme('radius.round');background-color: theme('color.white');
                            @media(min-width:theme('breakpoints.lg','value')){
                                &{#{theme('direction.left','value')}:0.8rem;}
                            }
                        }
                    }

                
         
                    &.is-active{color: theme('color.primary'); font-weight: theme('font.weight.medium');
                        > a{
                            &::before{border-width: 2px;}
                        }
                        
                    }

                    &.is-active.is-completed{
                        > a{background-color: theme('color.gray.100'); border-radius: 10px;
                           
                        }
                        
                    }


                    &.is-progress{ 
                        // color: theme('color.primary'); font-weight: theme('font.weight.medium');
                        // > a{
                        //     &::before{border-width: 2px;}
                        // }
                        .step-sign{background-color: theme('color.yellow');
                            &:before{
                                content: "!"; color: theme('color.white');
                                position: absolute; #{theme('direction.left','value')}:7px;top:0px;font-size: 12px;
                               
                            }
                        }
                        
                    }

                    &.is-completed{color: theme('color.primary'); font-weight: theme('font.weight.medium');
                       > a{
                            &:before{border-width: 2px; background-color: currentColor;
                                @media(max-width:theme('breakpoints.lg','value')){
                                    &{display: none;}
                                }
                            
                            }   
                       }
                       .step-sign{background-color: theme('color.green');
                            &:before{
                                content: "";
                                position: absolute; #{theme('direction.left','value')}:6px;top: 3px;
                                width: 5px; height: 9px; border-right: 2px solid #fff;border-bottom: 2px solid #fff;
                                transform: rotate(45deg);
                            }
                        }
                    }

                    .step-sign{
                        width:16px;
                        height: 16px;
                        position: absolute;
                        #{theme('direction.right','value')}:0.8rem;
                        top: theme('padding.4');
                        border-radius:theme('radius.round');
                        padding-#{theme('direction.left','value')}: theme('padding.1');
                        padding-#{theme('direction.right','value')}: theme('padding.1');

                        @media(max-width:theme('breakpoints.lg','value')){
                            &{ #{theme('direction.right','value')}: auto;  #{theme('direction.left','value')}:0.8rem;}
                        }
                       
                    }

               
            }
        }


        @media(max-width:theme('breakpoints.lg','value')){
            &{padding: theme('padding.3')  theme('padding.4');
                ul{display: flex; flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden;white-space: nowrap;}
            }
        }

    }
}


$page-layout: "page-layout";

.#{$page-layout}{padding:0 0 theme('padding.10') 0;

  

    @media(min-width:theme('breakpoints.lg','value')){
        &{display: flex; flex-wrap: wrap;
            &__small{max-width: 230px; order: 2; flex: 1;}
            &__large:not(:only-child){width:calc(100% - 230px); order: 1; padding-#{theme('direction.right','value')}: theme('padding.6'); flex: 1;}
        }
    }

    @media(min-width:theme('breakpoints.lg','value')){
        &__sticky{position: sticky;top: 1.6rem;}
    }

    @media(max-width:theme('breakpoints.lg','value')){
        &{display: flex; flex-wrap: wrap; flex-direction: column;
            &__small{display: contents;}
            &__sticky{display: contents;}
           
           
             &__large{order: 3;}
          
            
        }

    }


}


$page-actions: "page-actions";

.#{$page-actions}{ 

    &__group{display: flex; justify-content: space-between;
        & > .btn{flex: 1;
            &.btn--primary{ background-color: theme('color.primary')!important; color: theme('color.primary-inverse')!important;border-color: theme('color.primary-inverse')!important;
                &:hover{ background-color: theme('color.secondary')!important; color: theme('color.secondary-inverse')!important;border-color: theme('color.secondary-inverse')!important;}
            }
            &.btn--bordered-primary{;
                &:hover{color: theme('color.secondary')!important;border-color: theme('color.secondary')!important;}
            }
            &:only-child{margin: 0!important;}
        }
    }
}


@media(max-width:theme('breakpoints.lg','value')){
    .#{$page-steps}{order: 2;}
    .page-settings{order: 1;}
    .#{$page-actions}{order: 4; margin-top: theme('margin.4'); padding-bottom: theme('padding.4');}
}


@media(min-width:theme('breakpoints.xl','value')){
    .box-min-height{min-height: 40rem;}
}


$box-panel: "box-panel";

.#{$box-panel}{background-color: theme('color.white'); position: relative; width: 100%;border-radius: theme('radius.0'); box-shadow: theme('boxShadow.all');
 
    &__head{padding: theme('padding.8');
        @media(max-width:theme('breakpoints.sm','value')){
            &{padding: theme('padding.6');}
            & .buttons-group{margin-top: theme('margin.4');}
        }
    
    }
    &__container{padding: theme('padding.8');
        @media(max-width:theme('breakpoints.sm','value')){
            &{padding: theme('padding.6');}
        }
    }
    
}



$field-count: "field-count";

.#{$field-count}{
    &{position: relative;
        &:after{position: absolute;top: 0.44rem; #{theme('direction.right','value')}: 0.44rem; content: attr(field-count); background-color:theme('color.gray.100'); border-radius: theme('radius.1'); 
            padding: theme('padding.2')  theme('padding.2'); font-size: 11px;}
        &__wrap{ padding-#{theme('direction.right','value')}: theme('padding.12')!important;}
    }
}



$media-uploader: "media-uploader";

.#{$media-uploader}{
    &{
        
       
    
        @media(min-width:theme('breakpoints.md','value')){
            &{display: flex; flex-wrap: wrap; justify-content: space-between;margin-top: theme('margin.20');
                &:first-child{margin-top: theme('margin.10');}
                &__content{flex: 0 0 46%; order: 1;}
                &__asset{flex: 0 0 42%; order: 2;}
            }
        }


        @media(max-width:1399px){
            &{
                &__content{flex: 0 0 50%;}
                &__asset{flex: 0 0 42%;}
            }
        }

        @media(max-width:theme('breakpoints.sm','value')){
            &{
                &__content{flex: 0 0 100%; margin: theme('margin.6') 0 theme('margin.10');}
                &__asset{flex: 0 0 100%;}
            }
        }


        
    }
}



$media-placeholder: "media-placeholder";

.#{$media-placeholder}{
    

    &{background-color:theme('color.gray.100'); border-radius: theme('radius.2'); display: flex; align-items: center; justify-content: center;
        &__default{width:7rem; height:7rem;margin: auto; fill: theme('color.gray.300');}
        &__preview{
            & .close{position: absolute; right: 1rem; top: 1rem;z-index: 1; background-color: theme('color.white'); border-radius: theme('radius.round'); box-shadow:theme('boxShadow.all');}
        }
    }
}


.cursor-move{cursor: move;}

$sort-row: "sort-row";

.#{$sort-row}{ margin: theme('margin.6') 0 0;
    &__item{display: flex; flex-wrap: wrap;}
    &__field{flex: 1;}
    &__actions{min-width: 90px;padding-#{theme('direction.left','value')}: 4px;

        @media(max-width:theme('breakpoints.xl','value')){
            &{min-width: 1%;
                .btn--sort{display: none;}
            }
        }



    }
}



$icon-link: "icon-link";

.#{$icon-link}{ display: inline-flex; align-items: center; padding: theme('padding.4') 0; color: theme('color.secondary'); font-weight: theme('font.weight.medium');}




$card-options: "card-options";

.#{$card-options}{
        &{
            position: relative;
            &--positioned{position: absolute; right: theme('margin.6');top: theme('margin.6');
            
                @media (max-width:theme('breakpoints.sm','value')){
                    &{right: theme('margin.3');top: theme('margin.3');}
                }
            }

            &__target{
                &{
                    position: absolute; top: 100%; #{theme('direction.right','value')}:0;  z-index: 12; background-color: #fff; box-shadow: 0 2px 30px 0 rgba(0,0,0,.15); min-width:250px;  padding: theme('padding.4') 0;

                    @media (min-width:theme('breakpoints.sm','value')){
                        &:before{position: absolute; #{theme('direction.right','value')}: 0.6rem; top: -10px; content: ""; border-left: 12px solid transparent; border-right: 12px solid transparent; border-bottom: 12px solid #fff; pointer-events: none;z-index: 1;}
                    }
                }
        
              
        
            }
        
           
            &__trigger{ border-radius: theme('radius.round');
                @media (min-width:theme('breakpoints.sm','value')){
                    &:hover, &.is-active{background-color:rgba(0,0,0,0.05)!important;
                        .icon{fill:theme('color.black');}
                    }
                }
            }

        }
}


.textarea-small{height: 100px;}


$form-set: "form-set";

.#{$form-set}{margin-bottom: theme('margin.4');
    &__actions{ display: flex; justify-content:flex-end;
        & input[type="button"]{border-color:transparent; color: theme('color.black');}
        & input[type="submit"]{ margin-#{theme('direction.right','value')}: 0; margin-#{theme('direction.left','value')}:1rem;}
    }
}



$card-panel: "card-panel";

.#{$card-panel}{background-color: theme('color.white'); position: relative; width: 100%; border-radius: theme('radius.0'); box-shadow: theme('boxShadow.all'); margin-top:theme('margin.6');
 
    &__head{padding: theme('padding.6'); 
        @media(min-width:theme('breakpoints.sm','value')){
            &{display: flex; align-items: flex-start; flex-wrap: wrap;}
        }
        @media(max-width:theme('breakpoints.sm','value')){
            &{padding: theme('padding.3');
                & .btn--sort{float: left;}
            }
        }

    
    }
    &__body{padding: theme('padding.6'); 
        @media(max-width:theme('breakpoints.sm','value')){
            &{padding: theme('padding.3');}
        }
    }

    
}


$card-title: "card-title";

.#{$card-title}{ 
  flex: 1;

    @media(min-width:theme('breakpoints.sm','value')){
        &{ display: flex; flex-wrap: wrap;  gap:1rem; }
    }

    &__label{font-weight: theme('font.weight.medium'); line-height: 2.86rem;}
    &__meta{flex: 1; display: flex; flex-wrap: wrap; 
        // &:before{content: attr(section-count); line-height: 40px;}

        @media(max-width:theme('breakpoints.sm','value')){
            &{margin-top: theme('margin.3');}
        }
    }

    &__content{display: flex; align-items: center;
        @media(min-width:theme('breakpoints.sm','value')){
            &{max-width: 95%;}
        }
        @media(max-width:theme('breakpoints.sm','value')){
            &{width: 100%;}
        }
      

    }

    &__caption{
        @media(max-width:theme('breakpoints.sm','value')){
            &{line-height: 1.6; width: calc(100% - 80px);}
        }
    }
   
    &__actions{display: inline-flex; align-self: flex-start;
    
        @media(min-width:theme('breakpoints.xl','value')){
            &{opacity: 0;visibility: hidden;}
        }

        @media(max-width:theme('breakpoints.sm','value')){
            &{width:80px; margin-#{theme('direction.left','value')}: auto;}
        }

    }

    &__form{background-color: #fff;width: 100%;z-index: 1;}


    &:hover  &__actions{
        @media(min-width:theme('breakpoints.xl','value')){
            &{opacity:1;visibility:visible;}
        }
    }

}




$card-toggle: "card-toggle";

.#{$card-toggle}{position: relative;
    &:after{position: absolute; left: 50%; top: 50%; border-right: 2px solid currentColor;border-bottom: 2px solid currentColor;content: ""; transform: rotate(45deg);
        width:10px; height: 10px; margin-top: -7px; margin-#{theme('direction.left','value')}: -5px;}
}



$card-box: "card-box";

.#{$card-box}{background-color:rgba(0,0,0,0.025); border: 1px solid theme('color.gray.200'); margin-bottom: theme('margin.6');
    &:last-child{margin-bottom: 0;}
    &.is-active{background-color: #fff;
    
        .#{$card-toggle}{
            &:after{transform: rotate(-135deg); margin-top: -3px;}
        }
    
    }

    &__head{padding:theme('padding.3') theme('padding.4'); position: relative;
        
        @media(min-width:theme('breakpoints.sm','value')){
            &{display: flex; align-items: flex-start; flex-wrap: wrap;}
        }

        @media(max-width:theme('breakpoints.sm','value')){
            &{
                .btn--sort{float: #{theme('direction.left','value')}; justify-content: flex-start;}
            }
        }

        @media(max-width:theme('breakpoints.sm','value')){
            &{padding: theme('padding.3');}
        }


        .#{$card-options}{
             &--positioned{position: absolute; right: theme('margin.3');top: theme('margin.3');
                    @media(max-width:theme('breakpoints.sm','value')){
                        &{right: theme('margin.2');top: theme('margin.2');}
                    }
                }
            }
     

    }

    &__body{padding:theme('padding.6') 0;}

    $table: "table";
        
    .#{$table}{ border-spacing: 0;border-collapse: collapse;
        & th{background-color: theme('color.white'); padding: theme('padding.3');border-bottom: 1px solid theme('color.gray.200'); position: inherit;
            &:first-child{padding-left: 0;}
            &:last-child{padding-right: 0;}
        }
        & td{background-color: theme('color.white'); padding: theme('padding.3'); box-shadow: none;border-bottom: 1px solid theme('color.gray.200');
        
            &:first-child{padding-left: 0;}
            &:last-child{padding-right: 0;}
        }
        & tr:last-child{
            & td{border-bottom: none;}
        }
        @media (min-width:theme('breakpoints.xl','value')){
            & tr:hover:not(.title-row){box-shadow: none;}
        }

    }


}



$card-controls: "card-controls";

.#{$card-controls}{
    &-tabs{border-bottom: 1px solid theme('color.gray.200');
        & ul{display: flex; align-items: center; flex-wrap: wrap; padding: 0 theme('padding.6');

            @media (max-width:theme('breakpoints.sm','value')){
                &{padding: 0 theme('padding.3'); flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden; white-space: nowrap;}
            }

            & li{
               
                & a{display: block;background-color: #fff; padding: theme('padding.4') theme('padding.8'); border: 1px solid theme('color.gray.200'); border-bottom: none; color: theme('color.gray.700'); position: relative; font-size: 13px;

                    @media (max-width:theme('breakpoints.sm','value')){
                        &{padding: theme('padding.4') theme('padding.5');}
                    }

                    &:after{position: absolute; left: 0; right: 0; bottom: -1px; content: ""; height: 3px; background-color: #fff; pointer-events: none; display: none;}
                }
                &.is-active{
                    & a{color: theme('color.black'); font-weight: theme('font.weight.medium');
                        &:after{display: block;}
                    }
                }
            }
        }
    }


    &-content{padding:theme('padding.8') theme('padding.6') 0;background-color: #fff;


        @media (max-width:theme('breakpoints.xl','value')){
            &{
                 & .table-scroll{box-shadow: none; margin-top: 0;}
                 
             } 
         }

        @media (max-width:theme('breakpoints.sm','value')){
           &{padding:theme('padding.4') theme('padding.3') 0;
                
                & .table.table--responsive tr{padding-left: 0; padding-right: 0;}
            } 
        }
    }

}


$step-actions: "step-actions";
.#{$step-actions}{
    display: flex; justify-content:flex-end;
    & input[type="button"]{border-color:transparent; color: theme('color.black');}
    & input[type="submit"]{ margin-#{theme('direction.right','value')}: 0; margin-#{theme('direction.left','value')}:1rem;}
    @media (max-width:theme('breakpoints.sm','value')){
        &{ margin-top: theme('margin.4');
            & input[type="button"]{border-color: theme('color.gray.300'); flex: 1;}
            & input[type="submit"]{border-color: currentColor; flex: 1;}
        }
    }

}



$file-uploader: "file-uploader";
.#{$file-uploader}{position: relative;
    &__action{position: relative; background-color:#F9F9FB; border: 1px dashed #C6CCD6; padding: theme('padding.6'); width: 100%; text-align: center; cursor: pointer;}
    &__media{width:6rem; height:6rem;margin: auto; fill:#C6CCD6;}
    &__field{position: absolute; left: 0;right: 0;top: 0; bottom: 0;opacity: 0;cursor: pointer;}
}




$file-attachment: "file-attachment";
.#{$file-attachment}{

    &__item{ width: 100%; border: 1px solid theme('color.gray.200'); padding: theme('padding.3'); position: relative; display: flex;flex-wrap: wrap;margin-top: theme('margin.4'); margin-bottom: theme('margin.6');
        & .#{$file-attachment}{
            &__content{max-width: 60%;}
        } 
    }
    &__media{width:50px; display:flex; align-items: center; justify-content: flex-start;}
    &__content{flex: 1;}
    &__progress{ margin-#{theme('direction.left','value')}: auto; margin-#{theme('direction.right','value')}: theme('margin.2'); display: flex; align-items: center;
        .progress{min-width:200px;}
    }
    &__action{ margin-left: auto;}
        @media(max-width:theme('breakpoints.sm','value')){
            & p{line-height:1.4;}
        }

}



$attached-media: "attached-media";
    .#{$attached-media}{width:36px; height: 36px; fill:theme('color.gray.400');

}






$vertical-nav: "vertical-nav";
    .#{$vertical-nav}{
        & ul{
            & li{
                & a{display: flex; align-items: center; padding: theme('padding.2') theme('padding.6'); 
                    @media(min-width:theme('breakpoints.xl','value')){
                        &{color: theme('color.gray.800');}
                        &:hover{color: theme('color.black'); background-color: rgba(0,0,0,0.04);}
                    }
                }
            }
        }

}



.message-display {
    &--small{box-shadow: none; min-height: 1%; padding: theme('padding.6');
    
        .message-display__icon {
            width: 10rem;
            height: 10rem;
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0 auto
        }
    }
}




$search-view: "search-view";

.#{$search-view}{ display: flex; align-items: center; justify-content: space-between; gap: 1rem;
    &__large{flex: 1;}
}




$step-view: "step-view";

.#{$step-view}{ 
    @media(min-width:theme('breakpoints.sm','value')){
        &{
            display: flex; align-items: center; justify-content: space-between; gap: 1rem;
        }
        &__large{flex: 1;}
    }

 
    @media(max-width:theme('breakpoints.sm','value')){
        &{text-align: #{theme('direction.left','value')};}
    }
}



@media(max-width:theme('breakpoints.sm','value')){
    .btn--sm-block{width: 100%;}
}


.facebox-panel{
    @media(max-width:theme('breakpoints.sm','value')){
        & .table-scroll{ box-shadow: none;}
         
    }

    & .table--styled{border-spacing: 0;}
    & .table-scroll{margin-top: 0;}
}


.checkbox .input-helper{background-color: #fff;}






$card-course: "card-course";

.#{$card-course}{ 
     background-color: theme('color.white');position: relative;  border-radius: theme('radius.0'); box-shadow: theme('boxShadow.all'); padding: theme('padding-6'); min-height: 8rem;
     margin-bottom: theme('margin-6'); margin-top: theme('margin-3'); transition: all 0.2s;

     @media(min-width:theme('breakpoints.sm','value')){
        display: flex; flex-wrap: wrap;
     }

        &__colum{position: relative;
            &--first{max-width: 210px; flex: 0 0 210px;}
            &--second{max-width: 55%; flex: 0 0 55%; padding-#{theme('direction.left','value')}: theme('padding.8');}
            &--third{flex: 0 0 auto;margin-#{theme('direction.left','value')}: auto;}

            // @media(max-width:theme('breakpoints.xxxl','value')){
            //     &--first{max-width: 25%; flex: 0 0 25%; align-self: flex-start;}
            //     &--second{max-width: 50%; flex: 0 0 50%;}
               
            // }

            @media(max-width:theme('breakpoints.lg','value')){
              
                &--first{max-width: 35%; flex: 0 0 35%; align-self: flex-start; padding: theme('padding.6'); }
                &--second{max-width: 65%; flex: 0 0 65%; padding: theme('padding.6'); padding-#{theme('direction.left','value')}: 0; }
                &--third{max-width: 100%; flex: 0 0 100%; background: rgba(0,0,0,0.02); padding: theme('padding.6'); border-top: 1px solid theme('color.gray.200');}
            }

            @media(max-width:theme('breakpoints.sm','value')){
              
                &--first{max-width: 100%; flex: 0 0 100%; padding: theme('padding.4'); padding-bottom:0; display: flex; align-items: flex-start; justify-content: space-between;
                    & {
                        &__head{width: 50%;}
                    }
                }
                &--second{max-width: 100%; flex: 0 0 100%; padding: theme('padding.4'); padding-bottom:  theme('padding.3');}
                &--third{max-width: 100%; flex: 0 0 100%; background: rgba(0,0,0,0.02); padding: theme('padding.4'); border-top: 1px solid theme('color.gray.200');}
            }
     
        }

        @media(max-width:theme('breakpoints.xl','value')){
            &{padding: theme('padding-4'); }
          
        }

        @media(max-width:theme('breakpoints.lg','value')){
            &{padding: 0;}
          
        }

        &__time{display: block; color: theme('color.primary'); font-weight: theme('font.weight.medium'); font-size: theme('font.size.medium'); margin-bottom: theme('margin.1');
            @media(max-width:theme('breakpoints.md','value')){
                font-size: theme('font.size.small');
            }
        }
        &__date{display: block; color: theme('color.gray.900'); font-size: theme('font.size.small');
            @media(max-width:theme('breakpoints.sm','value')){
                &{font-size: 11px;}
            }
        }
        &__title{display: block; color: theme('color.black'); font-weight: theme('font.weight.medium'); font-size: theme('font.size.medium'); 
            @media(max-width:theme('breakpoints.md','value')){
                font-size: theme('font.size.md');
            }
        }


        &__subtitle{display: block; margin-bottom: theme('margin.2');
            
        }

        &__docs{
            .#{$attachment-file}{max-width: 20rem;}
        }
        &__head{min-height:50px;

           
            @media(max-width:theme('breakpoints.lg','value')){
                & {min-height: 50px;}
            }
            @media(max-width:theme('breakpoints.sm','value')){
                & {min-height: 1%; margin-bottom: theme('margin.2');
                    + .timer{min-height: 1%;font-size: 12px;}
                }
            }

           
        }
        @media(min-width:theme('breakpoints.xl','value')){
            &:hover{box-shadow: theme('boxShadow.vertical'); 

            }
        }

        &__actions{
            &{display: flex; flex-direction: column;
                .#{$actions-group}{margin-top: theme('margin.3');}
            }
            @media(min-width:theme('breakpoints.xxxl','value')){
                &{align-items: center; justify-content: space-between; flex-direction: row;
                    .#{$actions-group}{margin-top: 0;}
                }
            }
            @media(max-width:theme('breakpoints.lg','value')){
                &{align-items: center; justify-content: space-between; flex-direction: row;
                    .#{$actions-group}{max-width: 65%; flex: 0 0 65%; margin-top: 0; padding-#{theme('direction.left','value')}:  theme('padding.4');}
                }
            }
            @media(max-width:theme('breakpoints.sm','value')){
                &{
                    .#{$actions-group}{max-width: 50%; flex: 0 0 50%; padding:0;display: flex; justify-content: flex-end; }
                    .#{$profile-meta}{width: 50%;}
                }
            }
        }
       

    }



    $course-stats: "course-stats";

    .#{$course-stats}{ 

        @media(min-width:theme('breakpoints.xl','value')){
            &{margin-bottom: theme('margin.2');}
        }

        &{display: flex; align-items: center; flex-wrap: wrap;
            &__item{position: relative; margin-top:theme('margin.2');margin-bottom:theme('margin.2');
                &:not(:last-child):after{content:"|"; margin:0 theme('margin.3');}
            }
        }
    }

    

    .ratings{
        display: flex;
        align-items: center;
        .icon--rating{
            width: 15px;
            height: 19px;
            fill: theme('color.yellow');margin-#{theme('direction.right','value')}: 6px;
        }
        .value{
            margin-#{theme('direction.right','value')}: 6px;
            font-weight: bold;
        }
        span{
            opacity: 0.8;
        }
    }
    



    
$form-search: "form-search";

.#{$form-search}{ position: relative;

       
            @media(min-width:theme('breakpoints.xl','value')){
                &{ min-width: 200px;}
            }

            @media(max-width:theme('breakpoints.xl','value')){
                &{display: flex; align-items: center; flex-wrap: wrap;}
            }
        

      
            &__action{
               
                &{
                    position: absolute; top: 0; 

                    &--reset{#{theme('direction.right','value')}: 3rem;}
                    &--submit{#{theme('direction.right','value')}: 0; ;}
                    .close,.btn{pointer-events: none; display: flex; }
                }
                &--submit{
                    & input{padding: 0!important; font-size: 0;width: 3rem;height: 2.8rem;border: none; background: transparent!important; position: absolute!important; cursor: pointer;border-#{theme('direction.left','value')}:1px solid theme('color.gray.300')}
                }
                &--reset{
                    & input{padding: 0!important; font-size: 0;width: 3rem;height: 2.8rem; border: none; background: transparent!important; position: absolute!important; border: none!important; cursor: pointer;}
                    
                }
              
                
               
            }

            &__field{
                flex: 1;
                & input{padding-#{theme('direction.right','value')}: theme('padding.12');}
              
                
            }

            
            $form-reset: "form-reset";
            .#{$form-reset}{width: 3rem; height: 3rem;position: relative; color:inherit;font-size: theme('font.size.xxxl'); line-height: 40px; display: flex; align-items: center; justify-content: center; background-color: transparent;border:none; cursor: pointer;
                &:before{position: absolute; left: 0;right: 0; top: 0; bottom: 0; margin: auto;content: "+"; transform: rotate(45deg); text-align: center;}
                &--small{width:24px; height: 24px;line-height: 20px;font-size: theme('font.size.xl');}
            }


      

}




$course-progress: "course-progress";

.#{$course-progress}{
    &{display: flex; align-items: center; max-width: 400px;
    &__value{font-size: 80%;}
    &__content{flex: 1; padding: 0 theme('padding.2');}
    }
}


.padding-left-8{padding-#{theme('direction.left','value')}: theme('padding.8')!important;}
.padding-right-8{padding-#{theme('direction.right','value')}: theme('padding.8')!important;}

.tabs-step{
    
    .step-sign{
        width:16px;
        height: 16px;
        position: absolute;
        #{theme('direction.right','value')}: -0.3rem;
        top: theme('padding.5');
        border-radius:theme('radius.round');
        padding-#{theme('direction.left','value')}: theme('padding.1');
        padding-#{theme('direction.right','value')}: theme('padding.1');

        @media(max-width:theme('breakpoints.lg','value')){
            &{ #{theme('direction.right','value')}: auto;  #{theme('direction.left','value')}:0;}
        }
       
    }

    
    & .is-error{
        & > a{ padding-right: 1.5rem;}
        // color: theme('color.primary'); font-weight: theme('font.weight.medium');
        // > a{
        //     &::before{border-width: 2px;}
        // }
        .step-sign{background-color: theme('color.yellow');
            &:before{
                content: "!"; color: theme('color.white');
                position: absolute; #{theme('direction.left','value')}:7px;top:0px;font-size: 12px;
               
            }
        }
        
    }

    & .is-completed{color: theme('color.primary'); font-weight: theme('font.weight.medium');
       
       > a{padding-right: 1.5rem; opacity: 1;
            &:before{border-width: 2px; background-color: currentColor;
                @media(max-width:theme('breakpoints.lg','value')){
                    &{display: none;}
                }
            
            }   
       }
       .step-sign{background-color: theme('color.green');
            &:before{
                content: "";
                position: absolute; #{theme('direction.left','value')}:6px;top: 3px;
                width: 5px; height: 9px; border-right: 2px solid #fff;border-bottom: 2px solid #fff;
                transform: rotate(45deg);
            }
        }
    }

}


.container--narrow{max-width: 1000px;}

.ui-sortable-helper {display: table;}